{% extends 'home/home_page.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

    <div id="root"></div>

    <script>
        var menus = {{ menus|safe }};
        var apiPath = "{{ api_path }}";
        var languageId = {{ language_id }};
        var portal_token = "{{ portal_token }}";
        var pageContent = {{ page_content|safe }};
        var totalTerminalsGroupsIcon = "{{ page.total_terminals_groups_icon }}";
        var totalTerminalsIcon = "{{ page.total_terminals_icon }}";
        var onlineTerminalsIcon = "{{ page.online_terminals_icon }}";
        var expiredTerminalsIcon = "{{ page.expired_terminals_icon }}";
        var pendingTerminalsIcon = "{{ page.pending_terminals_icon }}";

        var messageTypes = {{ message_types|safe}};
    </script>

{% endblock content %}