{% extends 'home/home_page.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

    <div id="root"></div>

    <script>
        var menus = {{ menus|safe }};
        var apiPath = "{{ api_path }}";
        var languageId = {{ language_id }};
        var pageHeader = "{{ page.page_header }}";
        var apiLinks = {{ api_links|safe }};
        var portal_token = "{{ portal_token }}"
        
    </script>

    <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}