{% extends 'home/home_page.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

    <div id="root"></div>

    <script>
        var apiPath = "{{ api_path }}";
        var menus = {{ menus|safe }};
        var apiLinks = {{ api_links|safe }};
        var languageId = {{ language_id }};
        var pageContent = {{ page_content|safe }};
        var akhIcon = "{{ page.akh_icon }}";
        var eSafeIcon = "{{ page.e_safe_icon }}";
        var conciergeIcon = "{{ page.concierge_icon }}";
        var portal_token = "{{ portal_token }}";
        var configIcons = {{ config_icons|safe }};

    </script>

{% endblock content %}