{% extends 'home/home_page.html' %}
{% load static %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

    <div id="root"></div>

    <script>
        var menus = {{ menus|safe }};
        var apiPath = "{{ api_path }}";

        var languageId = {{ language_id }};
        var pageContent = {{ page_content|safe }};
        var totalTerminalsIcon = "{{ page.total_terminals_icon }}";
        var onlineTerminalsIcon = "{{ page.online_terminals_icon }}";
        var expiredTerminalsIcon = "{{ page.expired_terminals_icon }}";
        var pendingTerminalsIcon = "{{ page.pending_terminals_icon }}";
        var blockedTerminalsIcon = "{{ page.blocked_terminals_icon }}";
        var activeTerminalsIcon = "{{ page.active_terminals_icon }}";
        var paymentsIcon = "{{ page.payments_icon }}";
        var storagesIcon = "{{ page.storage_icon }}";
        var collectionsIcon = "{{ page.collections_icon }}";
        var cellAttachmentsIcon = "{{ page.cell_attachments_icon }}";
        var cashIcon = "{{ page.cash_icon }}";
        var markIcon = "{{ page.mark_icon }}";

        var messageTypes = {{ message_types|safe}};
        var portal_token = "{{ portal_token }}"
    </script>

{% endblock content %}